.App {
  text-align: center;
}

body {
  margin: 0 !important;
}

.Header {
  position: sticky;
  top: 0;
  left: 0;
  height: 4em;
  padding: 0.5em;
  width: auto;
  background-color: green;
  display: flex;
  justify-content: space-between;
  
}
.picture {
  size:3em;
  padding: 20em;
}

.Header > .Logo {
  size: auto;
}

.Header > .Buttons {
  display: flex;
}

.Header > .Buttons > button {
  margin: 0.5em;
  border: none;
}


