* {
    margin: 0;
    padding: 0;
  }
  
nav {
    display: flex;
    align-items: center;
    background-color: grey;
    height: 45px;
    padding: 10px 25px;
}
.AppTitle {
    margin-right: auto;
    margin-left: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}