* {
    margin: 0;
    padding: 0;
  }
  
nav {
    display: flex;
    align-items: center;
    background-color: #E1EEDD;
    height: 90px;
    padding: 10px 25px;
}
.AppTitle {
    margin-right: auto;
    margin-left: 32%;
    color: black;
    font-weight: 700;
    font-size: 30px;
}

#loginNav {
    border-radius: 10px;
    border: none;
    background-color: #76af67;
    color: white;
    text-align: center;
    padding: 7px 20px;
    margin-right: 15px;
}

#loginNav:hover {
    background-color: #98cc89;
}

